<p id="notice"><%= notice %></p>

<h1>Your Items</h1>

<table>
  <thead>
    <tr>
      <% if @items.count == 0 %>
        <%= 'No items for sale' %>
      <% else %>
        <th>Photo</th>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
    </tr>
  </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= image_tag item.photo.url(:thumb)%></td>
            <td><%= item.title %></td>
            <td><%= item.description %></td>
            <td><%= link_to 'Show', "/users/#{current_user.id}/items/#{item.id}" %></td>
            <% if current_user == item.user %>
              <td><%= link_to 'Edit', "/users/#{current_user.id}/items/#{item.id}/edit" %></td>
              <td><%= link_to 'Destroy', "/users/#{current_user.id}/items/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_user_item_path %>
