<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @item.user.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<% unless current_user == @item.user %>
  <%= link_to 'Buy Item', buy_item_user_item_path(@user, @item), method: :post %>
<% end %>
</br>
</br>
</br>
<% if current_user == @item.user %>
  <%= link_to 'Edit Item', "/users/#{current_user.id}/items/#{@item.id}/edit" %>
<% end %>
