<nav style="background-color: white;">
  <div class="container">
    <%= link_to 'iBay', root_path, class: 'navbar-brand' %>
    <div id="navbar_content" >
        <%# Only display the current user's name, items, and log out links if a user is logged in %>
        <% if logged_in? %>
          <%= link_to "Items For Sell", '/all_items', class: 'nav-link' %>
          <%= link_to current_user.full_name, "/users/#{current_user.id}", class: 'nav-link' %>
          <%= link_to "Log out", '/logout', method: :delete, class: 'nav-link' %>
        <%# Only display the sign up and log in links if no user is logged in %>
        <% else %>
          <li class="nav-item"><%= link_to "Sign up", '/users/new', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "Log in", '/login', class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
